#dash-ints {
    .callout {
        margin: 10px 0;
        padding: 10px;
    }

    .callout:hover {
        cursor: pointer;
    }

    p {
        font-weight: bold;
        font-size: 0.9rem;
    }
}