#layout_dash {
    .no-padding {
        padding: 0;
    }

    .no-margin {
        margin: 0;
    }

    #sidebar {
        padding: 5px;

        ul {
            .sidebar-menu-list, #image_holder.sidebar-menu-list:hover {
                background-color: transparent;
                border: 2px solid rgb(175, 175, 175);
                border-radius: 5px;

                a {
                    color: #ffffff;
                }

                a:hover {
                    color: #8dfffc;
                }

                a:after {
                    border-color: #fffcdf transparent transparent;
                }
            }

            .sidebar-menu-list:hover {
                background-color: rgba(255, 255, 255, 0.14);
                border: 2px solid rgb(0, 254, 255);
            }

            li#image_holder{
                text-align: center;

                img {
                    margin: 15px 0 0 0;
                    height: 60%;
                    width: 60%;
                    border-radius: 50%;
                    border: 2px solid floralwhite;
                }

                p {
                    margin: 10px 0 15px 0;
                    color: white;
                }
            }

            li {
                margin: 3px 0;

                a {
                    padding: 10px 10px 10px 20px;

                    i {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }

    #content {
        padding: 5px;

        #dash-title {
            margin: 3px 0 0 0;
            border: 2px solid #60ff64;
            border-radius: 5px;

            .columns {
                padding: 10px;
            }

            p {
                margin: 0;
                color: #b5ffa9;
                font-weight: bold;
                font-size: 1.2rem;
            }
        }
    }
}