#layout_main, #layout_error, #layout_dash {
  background: url("../images/background/board.jpg") fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: scroll; }

#layout_dash .no-padding {
  padding: 0; }
#layout_dash .no-margin {
  margin: 0; }
#layout_dash #sidebar {
  padding: 5px; }
  #layout_dash #sidebar ul .sidebar-menu-list, #layout_dash #sidebar ul #image_holder.sidebar-menu-list:hover {
    background-color: transparent;
    border: 2px solid #afafaf;
    border-radius: 5px; }
    #layout_dash #sidebar ul .sidebar-menu-list a, #layout_dash #sidebar ul #image_holder.sidebar-menu-list:hover a {
      color: #ffffff; }
    #layout_dash #sidebar ul .sidebar-menu-list a:hover, #layout_dash #sidebar ul #image_holder.sidebar-menu-list:hover a:hover {
      color: #8dfffc; }
    #layout_dash #sidebar ul .sidebar-menu-list a:after, #layout_dash #sidebar ul #image_holder.sidebar-menu-list:hover a:after {
      border-color: #fffcdf transparent transparent; }
  #layout_dash #sidebar ul .sidebar-menu-list:hover {
    background-color: rgba(255, 255, 255, 0.14);
    border: 2px solid #00feff; }
  #layout_dash #sidebar ul li#image_holder {
    text-align: center; }
    #layout_dash #sidebar ul li#image_holder img {
      margin: 15px 0 0 0;
      height: 60%;
      width: 60%;
      border-radius: 50%;
      border: 2px solid floralwhite; }
    #layout_dash #sidebar ul li#image_holder p {
      margin: 10px 0 15px 0;
      color: white; }
  #layout_dash #sidebar ul li {
    margin: 3px 0; }
    #layout_dash #sidebar ul li a {
      padding: 10px 10px 10px 20px; }
      #layout_dash #sidebar ul li a i {
        font-size: 1.1rem; }
#layout_dash #content {
  padding: 5px; }
  #layout_dash #content #dash-title {
    margin: 3px 0 0 0;
    border: 2px solid #60ff64;
    border-radius: 5px; }
    #layout_dash #content #dash-title .columns {
      padding: 10px; }
    #layout_dash #content #dash-title p {
      margin: 0;
      color: #b5ffa9;
      font-weight: bold;
      font-size: 1.2rem; }

#chat-container {
  padding: 30px 0; }
  #chat-container .center-div {
    margin: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #chat-container #login-window .callout {
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white; }
  #chat-container #login-window #login-title p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold; }
  #chat-container #login-window #error-layout .callout {
    padding: 10px;
    border: 2px #ff4b43 solid;
    color: #ff9a94;
    text-align: center; }
  #chat-container #login-window #login-input label {
    color: white;
    margin: 0 0 20px 0;
    font-size: 1rem; }
    #chat-container #login-window #login-input label input {
      margin: 0;
      height: 100%;
      font-size: 0.9rem;
      background: transparent;
      color: white;
      border-radius: 5px; }
    #chat-container #login-window #login-input label label {
      font-size: 0.9rem;
      font-style: italic;
      color: #ff604b; }
  #chat-container #login-window #login-input button {
    width: 100%;
    padding: 10px;
    background: white;
    color: black;
    font-weight: bold;
    border-radius: 5px; }
  #chat-container #login-window #login-input button:hover {
    background: #00ffee; }
  #chat-container #chat-layout, #chat-container #error-layout {
    display: none; }
    #chat-container #chat-layout .callout, #chat-container #error-layout .callout {
      background: transparent;
      color: white;
      border: 2px solid #c6ffae;
      border-radius: 5px; }
    #chat-container #chat-layout #user-details div, #chat-container #error-layout #user-details div {
      margin: 0 0 16px 0; }
    #chat-container #chat-layout #connected-users-list.callout, #chat-container #error-layout #connected-users-list.callout {
      padding: 0;
      border: 2px solid #ff736f; }
      #chat-container #chat-layout #connected-users-list.callout ul li a, #chat-container #error-layout #connected-users-list.callout ul li a {
        border-bottom: 2px solid #ff736f; }
        #chat-container #chat-layout #connected-users-list.callout ul li a span, #chat-container #error-layout #connected-users-list.callout ul li a span {
          color: white;
          font-size: 1.1rem; }
          #chat-container #chat-layout #connected-users-list.callout ul li a span i, #chat-container #error-layout #connected-users-list.callout ul li a span i {
            font-size: 0.9rem;
            margin: 0 10px 0 0; }
        #chat-container #chat-layout #connected-users-list.callout ul li a span.label, #chat-container #error-layout #connected-users-list.callout ul li a span.label {
          margin: 0 20px 0 0; }
      #chat-container #chat-layout #connected-users-list.callout ul li a:after, #chat-container #error-layout #connected-users-list.callout ul li a:after {
        border-color: #00fff6 transparent transparent; }
      #chat-container #chat-layout #connected-users-list.callout ul li ul, #chat-container #error-layout #connected-users-list.callout ul li ul {
        padding: 0 0 6px 0; }
        #chat-container #chat-layout #connected-users-list.callout ul li ul li p, #chat-container #error-layout #connected-users-list.callout ul li ul li p {
          padding: 6px 16px 0 16px;
          margin: 0; }
      #chat-container #chat-layout #connected-users-list.callout .label, #chat-container #error-layout #connected-users-list.callout .label {
        padding: 3px 8px;
        font-size: 0.7rem;
        font-weight: bold;
        background: #e5be87;
        color: black;
        border-radius: 5px; }
    #chat-container #chat-layout button, #chat-container #error-layout button {
      padding: 8px;
      width: 100%;
      margin: 0;
      background: #c6ffb8;
      color: black;
      font-weight: bold;
      height: 100%;
      border-radius: 5px; }
    #chat-container #chat-layout button:hover, #chat-container #error-layout button:hover {
      background: #7fdf75; }
    #chat-container #chat-layout #chat-box ul, #chat-container #error-layout #chat-box ul {
      background: transparent; }
      #chat-container #chat-layout #chat-box ul li a:hover, #chat-container #error-layout #chat-box ul li a:hover {
        color: #ffffff;
        background: rgba(255, 255, 255, 0.08);
        border: 2px solid #bcbcbc; }
      #chat-container #chat-layout #chat-box ul li a:before, #chat-container #error-layout #chat-box ul li a:before {
        content: none; }
      #chat-container #chat-layout #chat-box ul li a.accordion-title::after, #chat-container #error-layout #chat-box ul li a.accordion-title::after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border: inset 6px;
        border-color: #00fff6 transparent transparent;
        border-top-style: solid;
        border-bottom-width: 0;
        position: absolute;
        top: 50%;
        margin: -4px;
        right: 1rem; }
      #chat-container #chat-layout #chat-box ul li a[aria-expanded='true'].accordion-title::after, #chat-container #error-layout #chat-box ul li a[aria-expanded='true'].accordion-title::after {
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
        transform: scaleY(-1); }
      #chat-container #chat-layout #chat-box ul li p, #chat-container #error-layout #chat-box ul li p {
        margin: 0;
        padding: 0 25px 0 0;
        font-size: 0.9rem; }
      #chat-container #chat-layout #chat-box ul li .accordion-title, #chat-container #error-layout #chat-box ul li .accordion-title {
        padding: 10px;
        font-size: 0.8rem;
        line-height: 1.5;
        border: 2px white solid;
        color: white; }
        #chat-container #chat-layout #chat-box ul li .accordion-title p, #chat-container #error-layout #chat-box ul li .accordion-title p {
          text-align: justify; }
      #chat-container #chat-layout #chat-box ul li .accordion-content, #chat-container #error-layout #chat-box ul li .accordion-content {
        background: transparent;
        border: 2px solid white; }
      #chat-container #chat-layout #chat-box ul li .message-list p.message-list-user, #chat-container #error-layout #chat-box ul li .message-list p.message-list-user {
        color: #6ffffc;
        padding: 0;
        font-size: 0.9rem;
        line-height: 1;
        font-weight: bold; }
      #chat-container #chat-layout #chat-box ul li .message-list p.message-list-comment, #chat-container #error-layout #chat-box ul li .message-list p.message-list-comment {
        margin: 0 0 10px 0;
        padding: 0;
        text-align: justify;
        color: #c0c0c0;
        font-size: 0.9rem;
        line-height: 2; }
      #chat-container #chat-layout #chat-box ul li #message-form .input-group, #chat-container #chat-layout #chat-box ul li #message-form .input-group-button, #chat-container #error-layout #chat-box ul li #message-form .input-group, #chat-container #error-layout #chat-box ul li #message-form .input-group-button {
        margin: 0; }
      #chat-container #chat-layout #chat-box ul li #message-form input.message-input, #chat-container #error-layout #chat-box ul li #message-form input.message-input {
        height: 100%;
        font-size: 0.9rem;
        padding: 5px 8px; }
      #chat-container #chat-layout #chat-box ul li #message-form input.send-message, #chat-container #chat-layout #chat-box ul li #message-form input.send-message:disabled, #chat-container #chat-layout #chat-box ul li #message-form #new-issue-form input#new-issue-create:disabled, #new-issue-form #chat-container #chat-layout #chat-box ul li #message-form input#new-issue-create:disabled, #chat-container #error-layout #chat-box ul li #message-form input.send-message, #chat-container #error-layout #chat-box ul li #message-form input.send-message:disabled, #chat-container #error-layout #chat-box ul li #message-form #new-issue-form input#new-issue-create:disabled, #new-issue-form #chat-container #error-layout #chat-box ul li #message-form input#new-issue-create:disabled {
        color: black;
        font-weight: bold;
        background: #5ce8e6;
        padding: 7px;
        font-size: 0.8rem; }
      #chat-container #chat-layout #chat-box ul li #message-form input.send-message:disabled, #chat-container #chat-layout #chat-box ul li #message-form #new-issue-form input#new-issue-create:disabled, #new-issue-form #chat-container #chat-layout #chat-box ul li #message-form input#new-issue-create:disabled, #chat-container #error-layout #chat-box ul li #message-form input.send-message:disabled, #chat-container #error-layout #chat-box ul li #message-form #new-issue-form input#new-issue-create:disabled, #new-issue-form #chat-container #error-layout #chat-box ul li #message-form input#new-issue-create:disabled {
        opacity: 0.3; }

#new-issue-form {
  background: white;
  border: 3px solid #00cfe3; }
  #new-issue-form .times-color {
    color: #ff9e94; }
  #new-issue-form .times-color:hover {
    color: #ff5245; }
  #new-issue-form .input-group, #new-issue-form .input-group-button {
    margin: 0; }
  #new-issue-form p {
    margin: 0 0 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem; }
  #new-issue-form input#new-issue-title {
    padding: 5px 8px;
    font-size: 0.9rem;
    height: 100%; }
  #new-issue-form input#new-issue-create {
    color: black;
    font-weight: bold;
    background: #5ce8e6;
    padding: 7px;
    font-size: 0.85rem; }
  #new-issue-form input#new-issue-create:disabled {
    opacity: 0.3; }

#dash-api pre {
  margin: 0;
  color: white; }

#dash-ints .callout {
  margin: 10px 0;
  padding: 10px;
  background: transparent;
  border: 2px solid #b6b6b6;
  border-radius: 5px; }
#dash-ints .callout:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.18);
  color: black; }
#dash-ints p {
  font-weight: bold;
  font-size: 0.9rem;
  color: white; }

#dash-ints-date .flash-success {
  margin: 3px 0 0 0;
  padding: 10px;
  background: #e8ffdd;
  border: 1px solid #c4ffb3;
  border-radius: 5px; }
  #dash-ints-date .flash-success p {
    margin: 0;
    color: #067c00;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic; }
  #dash-ints-date .flash-success div {
    position: absolute;
    color: #8a8a8a;
    right: 1rem;
    top: 0.7rem;
    cursor: pointer; }
    #dash-ints-date .flash-success div i {
      font-size: 1rem;
      color: #ff9392; }
    #dash-ints-date .flash-success div i:hover {
      color: red; }
#dash-ints-date ul {
  margin: 10px 0;
  background: transparent; }
  #dash-ints-date ul li a:hover {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.08);
    border: 2px solid #bcbcbc; }
  #dash-ints-date ul li a:before {
    content: none; }
  #dash-ints-date ul li a.accordion-title::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    border-color: #00fff6 transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    position: absolute;
    top: 50%;
    margin: -4px;
    right: 1rem; }
  #dash-ints-date ul li a[aria-expanded='true'].accordion-title::after {
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1); }
  #dash-ints-date ul li .accordion-title {
    padding: 10px;
    font-size: 0.9rem;
    line-height: 1.5;
    border: 2px white solid;
    color: white;
    background: transparent; }
  #dash-ints-date ul li div.accordion-content {
    background: transparent;
    border: 2px solid white; }
    #dash-ints-date ul li div.accordion-content table {
      margin: 0; }
      #dash-ints-date ul li div.accordion-content table thead {
        background: transparent;
        border: 1px solid white; }
        #dash-ints-date ul li div.accordion-content table thead tr {
          background: transparent; }
          #dash-ints-date ul li div.accordion-content table thead tr th {
            background: transparent;
            border: 1px solid white;
            color: white;
            font-size: 0.9rem;
            text-align: center; }
      #dash-ints-date ul li div.accordion-content table tbody {
        background: transparent;
        border: 1px solid white; }
        #dash-ints-date ul li div.accordion-content table tbody tr {
          background: transparent; }
          #dash-ints-date ul li div.accordion-content table tbody tr td {
            background: transparent;
            border: 1px solid white;
            padding: 4px 10px; }
            #dash-ints-date ul li div.accordion-content table tbody tr td label {
              color: white;
              font-size: 0.8rem;
              text-align: justify; }
            #dash-ints-date ul li div.accordion-content table tbody tr td button {
              margin: 5px 0;
              padding: 5px;
              width: 100%;
              font-weight: bold;
              border-radius: 5px;
              color: black;
              background: #8efff3; }
            #dash-ints-date ul li div.accordion-content table tbody tr td button:hover {
              background: #02fff5; }
            #dash-ints-date ul li div.accordion-content table tbody tr td .checkMessage {
              text-align: center; }
              #dash-ints-date ul li div.accordion-content table tbody tr td .checkMessage input {
                vertical-align: middle;
                margin: 0; }

#dash-results .search-bar {
  margin: 0 0 12px 0;
  padding: 4px 8px;
  border-radius: 5px; }
#dash-results table {
  margin: 0;
  width: 100%; }
  #dash-results table thead {
    background: transparent; }
    #dash-results table thead tr {
      background: transparent; }
      #dash-results table thead tr th {
        color: white;
        border: 1px solid white;
        text-align: center; }
  #dash-results table tbody {
    background: transparent; }
    #dash-results table tbody tr {
      background: transparent; }
      #dash-results table tbody tr td {
        color: white;
        border: 1px solid white;
        text-align: center; }

#user-login-window .center-div {
  margin: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
#user-login-window .callout {
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem; }
#user-login-window .callout.login-err {
  padding: 8px;
  border: 1px solid #ff5658;
  color: #ff5658;
  font-size: 1rem;
  font-weight: normal; }
#user-login-window label {
  color: white;
  text-align: left;
  font-size: 1rem; }
  #user-login-window label input {
    padding: 5px 8px;
    height: 100%;
    background: transparent;
    color: white;
    border-radius: 5px; }
#user-login-window button {
  width: 100%;
  border-radius: 5px;
  background: #b4feff;
  color: black; }
#user-login-window button:hover {
  background: #00fff5; }

.new-container {
  margin: 3px 0 0 0;
  border: 2px solid #75b0ff;
  border-radius: 5px; }
  .new-container .columns {
    padding: 10px; }

#reg-form .columns {
  padding: 20px; }
#reg-form .flash-success {
  margin: 0 0 16px 0;
  padding: 10px;
  background: #e8ffdd;
  border: 1px solid #c4ffb3;
  border-radius: 5px; }
  #reg-form .flash-success p {
    margin: 0;
    color: #067c00;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic; }
  #reg-form .flash-success div {
    position: absolute;
    color: #8a8a8a;
    right: 1rem;
    top: 0.7rem;
    cursor: pointer; }
    #reg-form .flash-success div i {
      font-size: 1rem;
      color: #ff9392; }
    #reg-form .flash-success div i:hover {
      color: red; }
#reg-form label {
  color: #fdffb6;
  font-size: 1.2rem;
  margin: 0 0 16px 0; }
  #reg-form label input {
    margin: 0;
    height: 100%;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    font-weight: normal; }
  #reg-form label .error {
    color: #ff7675;
    font-size: 0.9rem;
    font-style: italic; }
#reg-form button {
  width: 100%;
  background: #98e1d9;
  border-radius: 5px;
  color: black;
  font-weight: bold; }
#reg-form button:hover {
  background: #00ffee; }

#error_page .columns {
  padding: 20px 10px; }
#error_page .err-msg {
  color: white;
  font-size: 1.6rem;
  font-weight: bold; }
#error_page .err-status {
  color: white;
  font-size: 1.3rem;
  font-style: italic; }
#error_page .err-stack {
  color: white; }
#error_page .center-div {
  margin: 0;
  position: absolute;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  #error_page .center-div p {
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center; }
#error_page .callout {
  background: transparent;
  border: 3px solid white;
  border-radius: 5px; }

/*# sourceMappingURL=all_custom.css.map */
